/* Nav Bar stuff */
.navigation {
    display: flex;
    list-style-type: none;
    padding: 2em;
    justify-content: space-around;
    background-color: blue;

}

a {
    color: white;
    
}

a:hover {
    color: gold;
    background-color: black;
}

a:active {
    margin: 0 5px;
}